* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.navbar{

  background-color: yellowgreen;
}


.nav-link {
  color: black;
  font-weight: 600;
}

.promotion
{

  color: green !important;
  font-weight: 700;
}

.navbar-brand {
  color: black;
  font-size: 30px;
  font-weight: 800;
}

.carousel-caption {
  position: absolute;
  top: 55%;
  transform: translateY(-80%);
  left: -8%;
}

.carousel-caption h1 {
  font-size: 70px;
  font-weight: 400;
  color: black;
}

.carousel-caption p {
  color: black;
  font-weight: 600;
}
.btn0 {
  background-color: red;
  height: 45px;
  width: 200px;
  color: white;
  border: none;
  outline: none;
}

.btn0:hover {
  background-color: white;
  color: red;
  transition: 0.4s;
}

.sub {
  background-color: rgb(70, 63, 62);
}
.sub input {
  height: 51px;
  width: 50%;
  color: black;
  outline: none;
  padding: 10px;
}
.btn1 {
  height: 50px;
  width: 50%;
  color: white;
  background-color: yellowgreen;
  outline: none;
  border: none;
}

.btn1:hover {
  background-color: rgb(44, 40, 40);
  color: white;
  transition: 0.6s;
}
.fa-sync {
  font-size: 34px;
}
.fa-user-shield {
  font-size: 34px;
}
.fa-gift {
  font-size: 34px;
}
/* ---------- */
.collection span {
  color: yellowgreen;
  font-size-adjust: 19px;
  font-weight: 800;
  padding-left: 5px;
}

.card {
  border: none;
}

.collection input {
  position: absolute;
  height: 45px;
  width: 110px;
  background-color: yellowgreen;
  color: white;
  border-radius: 5px;
  outline: none;
  text-align: center;
  border: none;
  top: 40%;
  left: 30%;
  opacity: 0;
}

.collection .card:hover input {
  opacity: 1;
  transition: 1s;
}

.collection input:hover {
  background-color: gray;
  transition: 0.5s;
}

.parallex {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('../img/shopping-mall.jpg');
  background-attachment: fixed;
  background-size: 100% 100%;
  width: 100%;
}
.parallex p {
  font: size 22px;
}
.btn2 {
  height: 40px;
  width: 200px;
  background: transparent;
  border: 2px solid white;
  color: white;
  outline: none;
  border-radius: 4px;
}
.btn2:hover {
  background-color: white;
  color: greenyellow;
  transition: 0.3s;
  border: none;
}

.btn3 {
  height: 40px;
  width: 200px;
  background: white;
  color: yellowgreen;
  outline: none;
  border-radius: 4px;
}
.btn3:hover {
  background: rgb(47, 42, 42);
  color: white;
  border: none;
  outline: none;
  transition: 0.3s;
}

.article a {
  list-style: none;
  color: black;
  outline: none;
}

.article a:hover {
  color: yellowgreen;
  transition: 0.5s;
}
.article p {
  font-size: 21px;
}

.article span {
  color: yellowgreen;
}
.article small {
  font-size: 15px;
}

.contact input {
  height: 50px;
  width: 100%;
  outline: none;
  border: none;
  color: gray;
  background-color: white;
  padding: 10px;
  -webkit-box-shadow: 10px 10px 76px -20px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 76px -20px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 76px -20px rgba(0, 0, 0, 0.75);
}

.btn4 {
  cursor: pointer;
  height: 45px;
  width: 160px;
  background-color: yellowgreen;
  color: white;
  outline: none;
  border: none;
  cursor: pointer;
}
