{% extends 'base.html.twig' %}

{% block title %}
  Welcome
{% endblock %}

{% block body %}
  <body>
  {% include'navBar/navbar.html.twig'%}

    <section>
      <div class="container py-5">
        <div class="row mt-4">
          <div class="col-sm-6">
            <div class="card card-flip">
              <div class="card-front text-white bg-warning">
                <div class="card-body">
                  <i class="fa fa-building fa-5x float-right"></i>
                  <h3 class="card-title">
                    Qui sommes-nous?
                  </h3>
                  <p class="card-text">
                    Notre approche pédagogique repose sur une parfaite
                    compréhension des objectifs des salariés et des directions
                    des ressources humaines mais aussi sur la définition d'une
                    démarche vivante,
                  </p>
                </div>
              </div>
              <div class="card-back bg-dark">
                <div class="card-body">
                  <h3 class="card-title">
                    Qui sommes-nous
                  </h3>
                  <p class="card-text">
                    progressive et participative qui placent les stagiaires dans
                    des situations concrètes d'apprentissage et leur permet de
                    développer leurs connaissances et leurs compétences.
                  </p>
                  <a href="#" class="btn btn-outline-secondary">Action</a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="card card-flip">
              <div class="card-front text-white bg-warning">
                <div class="card-body">
                  <i class="fa fa-building fa-5x float-right"></i>
                  <h3 class="card-title">
                    Notre méthodologie de formation
                  </h3>
                  <p class="card-text">
                    Notre méthodologie de formation, quant à elle, permet aux
                    entreprises et aux stagiaires de s'engager dans une démarche
                    construite et efficace. Vous souhaitez acquérir rapidement
                    de nouvelles compétences,
                  </p>
                </div>
              </div>
              <div class="card-back bg-dark">
                <div class="card-body">
                  <h3 class="card-title">
                    Notre méthodologie de formation
                  </h3>
                  <p class="card-text">
                    développer une expertise sur un thème ou vous tenir informés
                    des évolutions des domaines qui sont les vôtres ? Vous
                    préférez vous former sur votre lieu de travail, avec un
                    formateur présent, ou à distance via la visioformation, ou
                    encore au centre ?
                  </p>
                  <a href="#" class="btn btn-outline-secondary">Action</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="article">
      <div class="container py-5">
        <h1 class="text-center">
          Dernière Formation
        </h1>
        <div class="row py-5">
          <div class="col-lg-4">
            <div class="card">
              <img src="{{ asset('img/img-3.jpg') }}"
                class="img-fluid"
                alt="" />
              <p class="pt-3">
                <a href="#">Formation Développement</a>
              </p>
              <small>
                By Admin
                <span>Businness</span>
              </small>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="card">
              <img src="{{ asset('img/img-3.jpg') }}"
                class="img-fluid"
                alt="" />
              <p class="pt-3">
                <a href="#">Formation bureautique</a>
              </p>
              <small>
                By Admin
                <span>Businness</span>
              </small>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="card">
              <img src="{{ asset('img/img-3.jpg') }}"
                class="img-fluid"
                alt="" />
              <p class="pt-3">
                <a href="#">Formation google Apps</a>
              </p>
              <small>
                By Admin
                <span>Businness</span>
              </small>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="contact bg-light text-center pt-5">
      <div class="container">
        <div class="row py-3">
          <div class="col-lg-7 mx-auto">
            <input type="text" placeholder="You Email adresse" />
            <button class="btn4 my-5">GET NOTIFIED</button>
            <p>
              @Copyright 2020 Pyramide Conseil All rights Reserved
            </p>
          </div>
        </div>
      </div>
    </section>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"></script>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"></script>

    <style>
      .card-flip > div { backface-visibility: hidden; transition: transform
      300ms; transition-timing-function: linear; width: 100%; height: 100%;
      margin: 0; display: flex; }

      .card-front { transform: rotateY(0deg); }

      .card-back { transform: rotateY(180deg); position: absolute; top: 0; }

      .card-flip:hover .card-front { transform: rotateY(-180deg); }

      .card-flip:hover .card-back { transform: rotateY(0deg); } .card-body {

      height: 230px; background-color: yellowgreen; }
    </style>
  </body>
{% endblock %}
